/* font raleway */

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* font inter */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Raleway", sans-serif;
}

.hero-seciton {
  background-image: url("./images/banner.png");
}

.discout15 {
  background-image: url("./images/discount15.png");
}

.discout20 {
  background-image: url("./images/discount20.png");
}
